@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
}
image{
    max-width:100%;
    height:auto;
}

.container{
    background-color:black;
    
}

.header{
    max-width: 1296px;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    margin-left:300px;
    margin-right:300px;  
}

.logo img{
    width:189px;
    padding-bottom: 28px;
    padding-top:20px;
}
.menu{
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    display: flex;
}

.menu a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 20px;
}


.banner{
    width:50%;
    margin-top:40px;
    margin-left: 310px;
}
.banner p{
    color:#fff;
    font-weight: 900;
    font-size:90px;
    line-height:1.2;
}
input[type="button"] {
    font-size: 20px;
    line-height: 1.2;
    padding:20px 40px;
    font-weight: 900;
    background-color:black;
    color: #fff;
    border:1px solid #fff;
    margin-top:40px;
    border-radius: 10px;
}

.service{
    max-width: 1296px;
    margin-left:300px;
    margin-right:300px;
 
}
.service-text{
    display:flex;
    
}

.service-text+h3{
    color:#fff;
font-weight: 900;
line-height: 120%;
font-size:38px;
margin-bottom: 80px;

}

.service-text span{
 display:inline-block;
}
.service-text+h2{
    font-size:32px;
    width:414px;
    margin-right:24px;
    color:#fff;
    font-weight: 900;
    line-height: 120%;   
}

.service-list {
   display:flex;
   color:#fff;
}
.service-list>li{
    width: 416px;
    height:366px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 24px;
    border: 1px solid white;
    border-radius: 16px;
}

.service-list li>h2{
    font-weight: 900;
    font-size: 32px;
    line-height:1.2;
    margin-bottom: 20px;
    margin-top: 26.67px;
}
.service-list p{
    max-width:336px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 80px;
   
}
.service-list img{
    width:66.67px;
    margin-top:83.33px;
    
}

.partner{
    max-width: 1296px;
    margin-left:300px;
    margin-right:300px;
    margin-top: 160px;
    
    background-image: url("/images/enterprise.png"),url("/images/enterprise9.png");
    background-position: left bottom,right bottom;
    background-repeat: no-repeat;
    background-size: 190px 40px;
}

.partner ul{
    margin-top:80px;
    max-width:1296px;
    display:flex;
    flex-wrap:wrap;
}


.partner+h2{
    font-weight: 900;
font-size: 32px;
line-height: 120%;
color:#fff;
}

.partner img{
    width:160px;
    height:40px;
   
}

.firstRow,.secondRow{
    display:flex;
    justify-content: center;
}
.firstRow{
    margin-top:80px;
    margin-right:118px;
    margin-left:118px;
}
.secondRow{
    margin-top:20px;
   
}

.bg-white{
    background-color: #fff;
    max-width:1920px;
    border-radius:160px;
   
}

.tools-list>ul{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  
}

.tools-list li{
   width:416px;
   border-radius:16px;
   margin-right:24px;
   margin-top: 24px;
   border:1px solid#F2F2F2;
   
}
.image{
    overflow:hidden;
}
.image img{
    transition: transform 0.5s linear;
}
.image:hover img{
    transform: scale(1.2);
   
}
/*https://stackoverflow.com/questions/43219852/image-overflowhidden-with-scale-transition*/
.tools>h2{
    text-align:center;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    padding-top: 160px;
    padding-bottom: 80px;
    color:black;
}
.tools{
    padding-bottom: 250px;
}

.tools-search>ul{
    color:black;
  }

.tools-search ul{
    display:flex;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 60px;
}
.tools-search li{
    margin-right:24px;
    
}
.tools-search a{
    text-decoration: none;
    color: #919191;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.gray{
    color: #020202;
    width: 32px;
    height: 24px;
    background: #F2F2F2;
border-radius: 16px;
padding:8px 16px 8px 16px;

}

.callToAction>h2{
    font-weight: 900;
font-size: 48px;
line-height: 120%;
color:white;
margin-top: 158px;
}
.callToAction{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:180px;
}

//https://nikitahl.com/search-icon-inside-input
/*form {
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }

  input[type="search"] {
    border: none;
    width:1296px;
    background:#fff;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid black;
    border-radius: inherit;
  }
  input[type="search"]::placeholder {
    color: #bbb;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url("/images/icons/search.png") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }*/
.tools-ai span{
    display:inline-block;
}
.tools-ai{
    display:flex;
    height:64px;
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}

.tools-ai>span{
font-weight: 900;
font-size: 16px;
line-height: 150%;
}
.tools-tag{
    display: flex;
    height:64px;
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}
.introduction{
    padding:20px 32px;
    height:118px;
}
.introduction>h2{
    margin-bottom:12px;
    font-weight: 900;
font-size: 20px;
line-height: 120%;
}

.btn2{
    content: '';
    background: url('/images/icons/call\ made.png') no-repeat;
    background-position: center right 16px;
}
.siteMap{
    display:flex;
    justify-content: space-between;
    padding-top: 80px;
    margin-left:300px;
    margin-right:300px; 
    border-top:1px solid #fff;
}
 .siteMap-list>ul{
    color:#fff;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
 }
 .siteMap-logo>img{
    width:188.99px;
    height:40px;
  }

 .footer{
    color:white;
    display:flex;
    margin-left:300px;
    margin-right:300px;  
    padding: 32px 0;
    position:relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
 }
.social>ul{
    display: flex;
}
.social li{
    margin-right:20px;
   
}
.copyright{
    margin-right:100px;
}
 .to-top>a{
    color:white;
    text-decoration: none;
    position:absolute;
    right:0;
    bottom:32px;
    top:32px;
  }

  .to-top img{
    padding-left: 20px;
  }
  